.thumbnail {
  width: 100%;
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-author,
.video-stats {
  display: inline-block;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 36px;
  border-radius: 50px;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: gray;
}

.video-author {
  margin-bottom: 4px;
  display: block;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 750px) {
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
}


@media (min-width: 751px) and (max-width: 999px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
} 




.video-time{
  font-size: 12px;
  font-weight: 500;
  /* padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px; */
  padding: 4px 4px 4px 4px;
  border-radius: 2px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;

}


.channel-picture-container{
  position: relative;
  display: inline-block;
}


.view-profile-box{
  position: absolute;
  background-color: white;
  display: flex;
  align-items: center;
  justify-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 7px;
  box-shadow: 0 0 5px 1px gray;
  opacity: 0;
  transition: opacity 0.15s;
  z-index: 100;
  white-space: nowrap;
  /* pointer-events: none; */
}

.view-profile-box:hover{
  opacity: 1;
}

.image-box{
  display: inline-box;
  padding-right: 10px;
}

.view-profile-box .profile-picture{
  width: 50px;
}

.box{
  display: flex;
  flex-direction: column;
}

.video-author-view{
  font-size: 17px;
  font-weight: 700;
  padding-bottom: 7px;
}

.subscriber-count{
  font-size: 15px;
  color: rgb(80, 79, 79);
}

